<%= form_with(model: book_collection) do |form| %>
  <% if book_collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book_collection.errors.count, "error") %> prohibited this book_collection from being saved:</h2>

      <ul>
        <% book_collection.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :publishdate %>
    <%= form.date_select :publishdate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
