<p id="notice"><%= notice %></p>

<h1>Book Collections</h1>
# nice job heroku

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Price</th>
      <th>Publishdate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_collections.each do |book_collection| %>
      <tr>
        <td><%= book_collection.title %></td>
        <td><%= book_collection.author %></td>
        <td><%= book_collection.price %></td>
        <td><%= book_collection.publishdate %></td>
        <td><%= link_to 'Show', book_collection %></td>
        <td><%= link_to 'Edit', edit_book_collection_path(book_collection) %></td>
        <td><%= link_to 'Destroy', book_collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book Collection', new_book_collection_path %>
